.form {
  height: 667px;
  width: 100%;
  background-color: $form-control-bg;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease-out;
  a {
    cursor: pointer;
  }
}
.form-header {
  font-size: 30px;
  margin:75px 0 45px;
}
.form-login {
  width: 460px;
}
.form-registration {
  margin-top: 37px;
}

.formOpened {
  top: 100px;
  animation: openForm 0.4s ease-out forwards;
}
.formClosed {
  animation: closeForm 0.4s ease-out forwards;
}

@keyframes openForm{
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0);   }
}

@keyframes closeForm {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%);}
}
