.form {
  height: 667px;
  width: 100%;
  background-color: $form-control-bg;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 2;
  a {
    cursor: pointer;
  }
}
.form-header {
  font-size: 30px;
  margin:75px 0 45px;
}
.form-login {
  width: 460px;
}
.form-registration {
  margin-top: 37px;
}
