
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@charset "utf-8";

@import 'setting';
@import 'base/sanitize';
@import 'base/mixin';
@import 'base/placeholders';
@import 'base/fonts';
@import 'base/base';

@import 'lib/clearfix';
@import 'lib/icons';
@import 'lib/flex';
@import 'lib/form-control';
@import 'lib/media-queries';
@import 'lib/button';

@import 'components/logo-login';
@import 'components/site-logo';
@import 'components/form';
@import 'components/hero';
@import 'components/section';
@import 'components/news';
@import 'components/article';
@import 'components/footer';
@import 'components/copyright';
@import 'components/breadcrumbs';
@import 'components/scroll';
@import 'components/comments';
@import 'components/create-post';
@import 'components/modal';

@import 'layout/grid';
@import 'layout/layout';

@import 'lib/utilities';
